.logo img
{
    width: 350px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}

.propic
{
    width: 250px;
    height: 380px;
}

.content
{
    position: absolute;
    width: 1700px;
    margin-left: 0px;
    margin-top: 100px;
}

.btn-one
{
    background-color: lightcoral;
    font-family: "Futura", sans-serif;
}

.btn-two
{
    font-family: "Futura", sans-serif;
    
}

.my_name_is_alex
{
    width: 200px;
}