/* ------NAVIGATION BAR------ */
.main-nav
{
    border: 2px solid black;
    border-radius: 2px;
    text-align: center;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: firebrick;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Futura", sans-serif;
    font-size: 15px;
}

.main-nav li.active a
{
    border: 2px solid black;
}

.main-nav li a:hover{
    border: 1px solid black;
}




/* ------TEXT------ */
body
{
    font-family: monospace;
}

h1
{
    color: black;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
}





/* ------BUTTONS------ */
.button
{
    margin-top: 30px;
    margin-left: 682px;
}

.btn
{
    border: 1px solid black;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-two:hover{
    background-color: lightcoral;
    transition: all 0.5s ease-in;
}

.row
{
    font-family: monospace;
    margin: auto;
}

/*--------Index.html styling--------*/
.logo img
{
    width: 350px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}

.propic
{
    width: 280px;
    height: 280px;
    margin: 0 auto;
    border-radius: 50%;
}

.content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.pink-btn
{
    background-color: lightcoral;
    font-family: "Futura", sans-serif;
    width: 140px;
}

.white-btn
{
    font-family: "Futura", sans-serif;
    width: 100px;
}

.main_btns
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.my_name_is_alex
{
    width: 200px;
    margin: 0 auto;
}