/* ------NAVIGATION BAR------ */
.main-nav
{
    /* border: 2px solid black; */
    border-radius: 2px;
    text-align: center;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 130px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: firebrick;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Futura", sans-serif;
    font-size: 15px;
}

.main-nav li.active a
{
    border: 2px solid black;
}

.main-nav li a:hover{
    border: 1px solid black;
}




/* ------TEXT------ */
body
{
    font-family: monospace;
}

h1
{
    color: black;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
}





/* ------BUTTONS------ */
.button
{
    margin-top: 30px;
    margin-left: 682px;
}

.btn
{
    border: 1px solid black;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-two:hover{
    background-color: lightcoral;
    transition: all 0.5s ease-in;
}

.row
{
    font-family: monospace;
    margin: auto;
}

/*--------Index.html styling--------*/
.logo img
{
    width: 350px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}

.propic
{
    width: 280px;
    height: 280px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: 0 auto;
    border-radius: 50%;
}

.content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.pink-btn
{
    background-color: lightcoral;
    font-family: "Futura", sans-serif;
    width: 140px;
}

.white-btn
{
    font-family: "Futura", sans-serif;
    width: 100px;
}

.main_btns
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.my_name_is_alex
{
    width: 300px;
    margin: 0 auto;
}

/*----------- CONTACT -------------*/
.contact_form
{
    width: 70%;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
}

/* * {
    box-sizing: border-box;
  } */
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #f08080;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #f08080cc;
  }
  
  .input {
    width: 100%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

/*----------- RESUME -------------*/
.resume_header_1
{
    text-align: left;
    margin-bottom: 40px;
    font-size: 35;
    padding: 11;
    padding-left: 70px;
    width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 10px;
    border-color: #c86464;
}

.resume_header_2
{
    text-align: left;
    margin-bottom: 40px;
    font-size: 35;
    padding: 11;
    padding-left: 70px;
    width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 10px;
    border-color: rgb(76, 146, 49);
}

.resume_header_3
{
    text-align: left;
    margin-bottom: 40px;
    font-size: 35;
    padding: 11;
    padding-left: 70px;
    width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 10px;
    border-color: rgb(44, 102, 179);
}

.resume_item_1
{
    width: 60%;
    float: left;
    background-color: #f2f2f2;
    border-top: #f08080;
    border-top-style: solid;
    border-top-width: 8px;
    padding-left: 50px;
    margin-bottom: 70px;
    margin-left: 260px;
    border-radius: 20px;
}

.resume_item_2
{
    width: 60%;
    float: left;
    background-color: #f2f2f2;
    border-top: #a9dfa4;
    border-top-style: solid;
    border-top-width: 8px;
    padding-left: 50px;
    margin-bottom: 70px;
    margin-left: 260px;
    border-radius: 20px;
}

.resume_item_3
{
    width: 60%;
    float: left;
    background-color: #f2f2f2;
    border-top: #afc2f5;
    border-top-style: solid;
    border-top-width: 8px;
    padding-left: 50px;
    margin-bottom: 70px;
    margin-left: 260px;
    border-radius: 20px;
}

.resume_section
{
    float: left;
}

/*----------- RESUME -------------*/
.project_pic
{
    width: 280px;
    height: 280px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: 0 auto;
    border-radius: 50%;
}
