<form action="/action_page.php">

    <div class="row">
      <div class="input">
        <input type="text" id="name" name="name" placeholder="Your name..">
      </div>
    </div>

    <div class="row">
      <div class="input">
        <input type="text" id="email" name="lastname" placeholder="Your email..">
      </div>
    </div>

    <div class="row">
      <div class="input">
        <textarea id="message" name="message" placeholder="Write your message.." style="height:200px"></textarea>
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Submit">
    </div>

  </form>