<header>
    <div class="row">
        <ul class="main-nav">
            <li><a ng-class="aboutMe" href="index.html"> ABOUT ME </a></li>
            <li><a ng-class="resume" href="https://drive.google.com/file/d/1alzCxkd_Ld57gA-0N3zUJaBG2HLGTO_7/view?usp=sharing"> RESUME </a></li>
            <li><a ng-class="projects" href="projects.html"> PROJECTS </a></li>
            <li><a ng-class="hobbies" href="hobbies.html"> HOBBIES </a></li>
            <li><a ng-class="contact" href="contact.html"> CONTACT </a></li>
        </ul>
    </div>
</header>