<header>
    <div class="row">
        <ul class="main-nav">
            <li><a class="{{$ctrl.aboutMe}}" href="index.html"> ABOUT ME </a></li>
            <li><a class="{{$ctrl.resume}}" href="resume.html"> RESUME </a></li>
            <li><a class="{{$ctrl.projects}}" href="projects.html"> PROJECTS </a></li>
            <li><a class="{{$ctrl.hobbies}}" href="hobbies.html"> HOBBIES </a></li>
            <li><a class="{{$ctrl.contact}}" href="contact.html"> CONTACT </a></li>
        </ul>
    </div>
</header>