<header class="sticky-header">
    <div class="row">
        <ul class="main-nav">
            <li class="{{$ctrl.aboutMe}}"><a href="index.html"> ABOUT ME </a></li>
            <li class="{{$ctrl.resume}}"><a href="resume.html"> RESUME </a></li>
            <li class="{{$ctrl.projects}}"><a href="projects.html"> PROJECTS </a></li>
            <li class="{{$ctrl.hobbies}}"><a href="hobbies.html"> HOBBIES </a></li>
            <li class="{{$ctrl.contact}}"><a href="mailto:alexewu@umich.edu?subject=Message from alexewu.github.io"> CONTACT </a></li>
        </ul>
    </div>
</header>