<div class="project_circles">
        <a ng-onClick="$ctrl.clincPressed">
                <img class="project_pic" src="images/clinc.png">
        </a>
        <img class="project_pic" src="images/laz.png">
        <img class="project_pic" src="images/twitter_logo.jpg">
        <img class="project_pic" src="images/mdp.png">
        <img class="project_pic" src="images/stoody.png">

        <p>clinc description</p>
        <p>laz description</p>
        <p>twitter description</p>
        <p>mdp description</p>
        <p>stoody description</p>
</div>