<div class="project_circles">
        <img ng-click="$ctrl.clincPressed()" class="project_pic" src="images/clinc.png">
        <img ng-click="$ctrl.lazPressed()" class="project_pic" src="images/laz.png">
        <img ng-click="$ctrl.twitterPressed()" class="project_pic" src="images/twitter_logo.jpg">
        <img ng-click="$ctrl.mdpPressed()" class="project_pic" src="images/mdp.png">
        <img ng-click="$ctrl.stoodyPressed()" class="project_pic" src="images/stoody.png">


        <!-- Melody Description -->
        <div ng-if="$ctrl.clincShow">
                <h3 class="project_title">EECS 498 - Conversational AI Project: Melody</h3>
                <p class="description"> 
                        Conversational AI is a major design experience class in which students build a conversational AI assistant using Clinc's 
                        platform. My team decided to create a conversational assistant for Spotify called Melody. Melody can do basic music 
                        controls such as play, pause, skip, and next/previous. Clinc's platform is built modeling a state machine, giving them
                        the distinction from other platforms such as Alexa in that the interaction with the agent is more conversational. In
                        order to really take advantage of this feature, we decided to make Melody also recommend songs based on criteria given by
                        the user, imitating the experience of interacting with a record store owner.
                </p>

                <p>
                        Built using: Clinc, Spotify API, Python
                </p>
                <a href="https://github.com/alexewu">
                        <img class="github_icon" src="images/github_icon.svg">
                </a>   
        </div>
        

        <!-- LAZ Description -->
        <div ng-if="$ctrl.lazShow">
                <h3 class="project_title">Learning A-Z - QR Student Login & Isolated Feature</h3>
                <p class="description"> 
                        During my internship at Learning A-Z, I was given the task of creating a new method of logging in for students using Raz-Kids. 
                        Previously, they only had the option of entering a text password or clicking on an icon as a password, but with this feature they can also scan QR codes. 
                        QR codes can make logging in easier for kids who don't know how to type, and also make logging in faster. All they need to do is hold the QR code up to 
                        the camera. The project here is an isolation of my feature from the LAZ codebase, and only encompasses the main idea of the feature: logging in. Much of
                         this code is unused in the demo site, but is used in the actual feature.
                </p>

                <p>
                        Built using: Digital Ocean, LEMP Stack (Linux, Nginx, MySQL, PHP), AngularJS
                </p>
                <div>
                        <a href="https://github.com/alexewu/laz-intern-feature">
                                <img class="github_icon" src="images/github_icon.svg">
                        </a>
                        <a href="https://alexwudemo.com/">
                                <img class="github_icon" src="images/website.png">
                        </a>  
                </div>
                
        </div>

        <!-- Twitter Classifier Description -->
        <div ng-if="$ctrl.twitterShow">
                <h3 class="project_title">Girls Encoded - Twitter Emergency Text Classifier</h3>
                <p class="description"> 
                        In this Girls Encoded program led by Rada Mihalcea, participants were given the opportunity to be paired with a 
                        research mentor at the University of Michigan. I was paired with Dr. Kummerfeld, a NLP postdoc, and was given
                        a research project to build a text classifier that would help emergency responders
                        filter tweets during disasters such as hurricanes, earthquakes, floods, etc. Tweets were labeled with categories such as
                        priority level (i.e. low, medium, high) and the associated event (i.e. fireColorado, westTexasExplosion). This text 
                        classifier is powered by the python spaCy library and data curated by Text Retrieval Conference (TREC) Incident Streams track. Attached
                        below is the research poster I made for the programs research symposium, showing the results of this classifier.
                </p>

                <p>
                        Built using: Python, spaCy, Tweepy
                </p>
                <div>
                        <a href="https://github.com/alexewu/twitter-classification">
                                <img class="github_icon" src="images/github_icon.svg">
                        </a>
                        <a href="https://drive.google.com/file/d/1l8QbQ8RsErsixzLSKwYR4raaZGAgjW8I/view?usp=sharing">
                                <img class="github_icon" src="images/presentation_icon.png">
                        </a>  
                </div>
                
        </div>

        <!-- MDP Speech-to-Text Description -->
        <div ng-if="$ctrl.mdpShow">
                <h3 class="project_title">Multidisciplinary Project - Automatic Speech-to-Text Assessment</h3>
                <p class="description"> 
                        In this project sponsored by Learning A-Z, I along with other CS and UX students are building a tool that will allow teachers 
                        to automatically assess student recordings. In Raz-Kids, there is a specific assignment called "high frequency words" in which 
                        students record themselves saying a list of words. Then, our feature runs the recording through a pipeline of
                        speech processing, compares the results to the golden standard, and displays the results in an effective report. In collaboration with the UX
                        students, we have focused a lot of attention on what teachers want out of this feature. In order to understand our users better, the UX students
                        performed user interviews and we have taken this feedback into consideration in designing the assessment and reports.
                        
                        In addition to the technical aspects of the project, MDP focuses a lot
                        on following a professional process to complete the project including setting milestones, creating Gantt charts, presenting progress, writing
                        reports, etc. Therefore, through this program, I have been exposed to many important administrative tasks.
                </p>

                <p>
                        Built using: AngularJS, PHP, MySQL
                </p>
        </div>

        <!-- Stoody Description -->
        <div ng-if="$ctrl.stoodyShow">
                <h3 class="project_title">MHacks 11 - Stoody</h3>
                <p class="description"> 
                        For MHacks11, my group created an app that lets you share your studying location! We spent most of our time during the 
                        hackathon struggling to learn React Native. After, we decided to continue developing the app to follow through with this 
                        super cool idea (and to learn!). It's on the app store for free, so check it out by clicking on the link below.
                </p>

                <p>
                        Built using: React Native, Google Firebase
                </p>
                <div>
                        <a href="https://github.com/jfguan/stoody-public">
                                <img class="github_icon" src="images/github_icon.svg">
                        </a>
                        <a href="https://apps.apple.com/us/app/stoody/id1451437530">
                                <img class="download_appstore_icon" src="images/download_app_store.svg">
                        </a>  
                </div>
        </div>


</div>